<div class="card">
  <h5 class="card-header">Lista de Tarefas</h5>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Título</th>
          <th>Descrição</th>
          <th>Data Criação</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefas; let i = index">
          <td>{{ tarefa.id }}</td>
          <td>
            <input
              [disabled]="tarefa.dataExclusao != null"
              type="checkbox"
              [(ngModel)]="tarefa.concluido"
              (click)="alterarStatus(tarefa)"
            />
            {{ tarefa.concluido ? "Concluído" : "Não Cocluído" }}
          </td>
          <td>{{ tarefa.titulo }}</td>
          <td>{{ tarefa.descricao }}</td>
          <td>{{ tarefa.dataCriacao | date: "dd/MM/yyyy HH:mm:ss" }}</td>
          <td>
            <button
              [disabled]="tarefa.dataExclusao != null"
              type="button"
              (click)="excluir(i, tarefa)"
              class="btn btn-danger btn-sm"
            >
              Excluir
            </button>
            &nbsp;
            <button
              [disabled]="tarefa.dataExclusao != null"
              type="button"
              (click)="editar(tarefa)"
              class="btn btn-primary btn-sm"
            >
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
